<section class="error-404">
  <h1>404</h1>
  <p>We couldn't find that page.</p>
  <a href="{{ routes.root_url }}" class="btn btn--solid">Back to Home</a>
</section>

{% schema %}
{ "name": "404 page", "settings": [] }
{% endschema %}
