{%- comment -%} Persistent mobile Call/Text bar, mirrors the main site's mobile drawer footer. {%- endcomment -%}
{% if settings.sticky_mobile_cta %}
<div class="sticky-cta">
  <a href="tel:{{ settings.store_phone | remove: '-' }}" class="sticky-cta__btn sticky-cta__btn--call">
    <svg fill="currentColor" viewBox="0 0 24 24" width="16" height="16"><path d="M6.6 10.8c1.4 2.8 3.8 5.1 6.6 6.6l2.2-2.2c.3-.3.7-.4 1-.2 1.1.4 2.3.6 3.6.6.6 0 1 .4 1 1V20c0 .6-.4 1-1 1-9.4 0-17-7.6-17-17 0-.6.4-1 1-1h3.5c.6 0 1 .4 1 1 0 1.3.2 2.5.6 3.6.1.3 0 .7-.2 1L6.6 10.8z"/></svg>
    Call Now
  </a>
  <a href="{{ settings.sms_link }}" class="sticky-cta__btn sticky-cta__btn--text">
    <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="16" height="16"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
    Text for a Quote
  </a>
</div>
{% endif %}
